<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>upload</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>
